@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@font-face {
  font-family: 'Poppins Light';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }
  
  .contain-dash {
    background-color: #F1F3F4; /* Set the background color for the content area */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-dash {
    font-family: 'Poppins Light', sans-serif !important;
    font-weight: 100;
    appearance: 'none';
    background-color: 'rgb(255, 255, 255)';
    border: 'none';
    border-bottom: '1px solid transparent';
    box-shadow: 'none';
  }

  .contain-content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .cont {
    margin-left: 10px;
    margin-right: 10px;
  }


  .grid-container {
    position: relative;
    border: 0px solid #ffffff;
  }

  .map-container {
    position: relative;
    border: 20px solid #ffffff;
  }
  
  .grid-row {
    display: flex;
  }

  .grid-cell {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image cover the entire grid */
    height: 100%;
    opacity: 40%; /* Adjust the opacity as needed */
    pointer-events: none; /* Allow clicks to pass through the image to the underlying grid */
  }

  .overlay-newMarker {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px; /* Make the image cover the entire grid */
    height: 30px;
    opacity: 100; /* Adjust the opacity as needed */
    pointer-events: none; /* Allow clicks to pass through the image to the underlying grid */
  }

  .spot-1 {
    position: absolute;
    top: 32px;
    left: 0;
    width: 30; /* Make the image cover the entire grid */
    height: 30;
    opacity: 40%; /* Adjust the opacity as needed */
    /* Allow clicks to pass through the image to the underlying grid */
    z-index: 10
  }

  .spot-2 {
    position: absolute;
    top: 0;
    left: 32px;
    width: 30; /* Make the image cover the entire grid */
    height: 30;
    opacity: 40%; /* Adjust the opacity as needed */
     /* Allow clicks to pass through the image to the underlying grid */
    z-index: 10
  }

  .spot-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30; /* Make the image cover the entire grid */
    height: 30;
    opacity: 40%; /* Adjust the opacity as needed */
     /* Allow clicks to pass through the image to the underlying grid */
    z-index: 10
  }


  .close-button {
    position: absolute;
    top: -12px;
    left: 91%;
    width: 20px; /* Make the image cover the entire grid */
    height: 20px;
    opacity: 0; /* Adjust the opacity as needed */
  }

  .close-PNG {
    position: absolute;
    top: 0;
    left: 90%;
    width: 30px; /* Make the image cover the entire grid */
    height: 30px;
    opacity: 100%; /* Adjust the opacity as needed */
    pointer-events: none;
  }