body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }
  
  .contain-dash {
    background-color: #F1F3F4; /* Set the background color for the content area */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  