@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.contain {
  width: 245px;
  height: 639px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins Light';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  font-weight: 600;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin-bottom: 16px;
}

input {
  padding: 12px;
  font-family: 'Poppins Regular', sans-serif;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
}

button {
  color: white;
  font-family: 'Poppins Bold', sans-serif;
  font-weight: 600;
  background-color: black;
  border: none;
  padding: 12px;
  font-family: 'Poppins Regular', sans-serif;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
}

.bottom-text {
  text-align: center;
}

.bottom {
  font-family: 'Poppins Light', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.text-bold {
  font-family: 'Poppins Bold', sans-serif;
  font-weight: 600;
}

.login-text {
  text-align: left !important;
  font-size: 35px;
  margin-bottom: 10px;
}

.login-text-2 {
  text-align: left !important;
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}