.spot-info-popup {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  /* Center the popup */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.closeimg {
  width: 14px; /* Adjust as needed */
  height: 14px; /* Adjust as needed */
  position: absolute;
    top: 10px;
    right: 10px;
}
.header
{ 
  margin-top: 0px;
  color: '#191D21';
  font-Size: 20;
  font-Family: 'Poppins';
  font-weight: bolder;
}
.h1
{ 
  margin-top: 0px;
  margin-left: 0px;
  text-align:left;
  color: '#191D21';
  font-size: x-small;
  font-Family: 'Poppins';
  font-Weight: 400;

}

.item-container {
  display: flex;
  justify-content: start; /* Align items to the start (left) */
  align-items: center;
  margin-top: 10px; /* Space below h1 */
}

.round-rectangle {

  border-radius: 10px; /* Rounded corners */
  color: black; /* Text color set to black */
  font-size: 6px; /* Smaller font size set to 10px */
  margin-right: 5px; /* Space between rectangles */
  font-family: 'Poppins', sans-serif; /* Font family set to 'Poppins' with a sans-serif fallback */
}
.species
{
  color: black;
  font-Size: small;
  font-Family: 'Poppins';
  font-Weight: bolder;
  margin-bottom: 0px;

}
.info
{ 

  color: black;
  font-Size: x-small;
  font-Family: 'Poppins';
  margin-top: 0px;
}